@import "colors";

body {
  font-family: Poppins, serif;
  background-color: $dark-1;
  color: white;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}